/*
#
# Fricciolosa Red Team presents:
#             _ _     _            _
#   _____   _(_) | __| | ___  _ __| | __
#  / _ \ \ / / | |/ _` |/ _ \| '__| |/ /
# |  __/\ V /| | | (_| | (_) | |  |   <
#  \___| \_/ |_|_|\__,_|\___/|_|  |_|\_\
#
#               Targeting your fiancee.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see http://www.gnu.org/licenses/.
#
#
#   @Repository:  https://github.com/Fricciolosa-Red-Team/evildork
#
#   @Author:      Fricciolosa Red Team
*/

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* evildork banner */
.evildork {
    color: red;
    margin-top: 5;
    margin-left: 5;
}

/* fricciolosa */
.fricciolosa {
    color: black;
    margin-left: 35;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  bottom: 0;
  text-align:center;
  width: 100%;
  position: fixed;
}
